trigger:
  batch: true
  branches:
    include:
      - xdebug_2_9
      - master

jobs:
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_MASTER'
      phpVersion: 'master'
      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_74'
      phpVersion: '7.4.9'
      configurationParameters: '--enable-debug --disable-maintainer-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_73'
      phpVersion: '7.3.21'
      configurationParameters: '--enable-debug --disable-maintainer-zts'
