trigger:
  batch: true
  branches:
    include:
      - xdebug_3_3
      - master

jobs:
# Disable master until xdebug_3_4 branch has been created
#  - template: .azure/macos/job.yml
#    parameters:
#      configurationName: 'OSX_PHP_MASTER'
#      phpVersion: 'branch'
#      phpBranch: 'master'
#      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_84'
      phpVersion: 'branch'
      phpBranch: 'PHP-8.4'
      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_84_ZTS'
      phpVersion: 'branch'
      phpBranch: 'PHP-8.4'
      configurationParameters: '--enable-debug --enable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_83'
      phpVersion: '8.3.12'
      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_83_ZTS'
      phpVersion: '8.3.12'
      configurationParameters: '--enable-debug --enable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_82'
      phpVersion: '8.2.24'
      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_82_ZTS'
      phpVersion: '8.2.24'
      configurationParameters: '--enable-debug --enable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_81'
      phpVersion: '8.1.30'
      configurationParameters: '--enable-debug --disable-zts'
  - template: .azure/macos/job.yml
    parameters:
      configurationName: 'OSX_PHP_80_ZTS'
      phpVersion: '8.0.30'
      configurationParameters: '--enable-debug --enable-zts'
      xdebugConfigurationParameters: '--without-xdebug-compression'
