/debugclient
/dmalloc.debug
/malloc.debug
/Makefile
/Makefile.in
/aclocal.m4
/confdefs.h
/config.status
/config.cache
/config.log
/configure
/config.h
/config.h.in
/libtool
/.deps
/stamp-h1
/stamp-h
/stamp-h.in
/generated_list
/missing
/autom4te.cache
/buildmk.stamp
/Debug
/Release
/depcomp
/debugclient.opensdf
/debugclient.sdf
/debugclient.v12.suo
/debugclient.vcxproj.user